* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* Header styling */

.header-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    width: 100vw;
    z-index: 1;
}

.header-logo {
    display: flex;
    margin: 1.2rem;
}

.header-logo a{
    display: flex;
    text-decoration: none;
}

.header-logo p:hover {
    color: #be6b74;
}
.header-logo img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.header-logo p {
    text-transform: uppercase;
    margin: 1.25rem 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #333333;
}

.header-nav {
    display: flex;
    margin: auto;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 12.5rem;
}

.header-nav ul li {
    margin: 1.25rem;
    font-weight: 600;
}

.header-nav ul li a {
    text-decoration: none;
    color: #333333;
}

.header-nav ul li a:hover {
    color: #be6b74;
}

.hero-container {
    position: relative;
    top: 6rem;
    display: flex;
    background-color: #be6b74;
    height: 100vh;
    z-index: 0;
}

.hero-side {
    display: flex;
    flex-direction: column;
    margin: 10rem 1rem auto 0;
}

.hero-side i {
    padding: 1.2rem;
    width: 60px;
    font-size: 1.4rem;
    color: #fff;
    border: 1px solid #fff;
}



.hero-main {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding: 10rem;
}

.hero-main h1 {
    color: #fff;
    position: relative;
    top: -7rem;
    font-size: 3rem;
    text-align: center;
}

.hero-main p {
    text-align: center;
    line-height: 2;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: -8rem;
    padding: 3rem;
}

.hero-main a {
    text-align: center;
    text-decoration: none;
    position: relative;
    top: -8rem;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333333;
    letter-spacing: 5px;
    background-color: #fff;
    margin: 0 20rem;
    padding: 1.5rem;
    border-radius: 10px;
}

.hero-main a:hover {
    top: -8.1rem;
    
}

/* .mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #eee;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
} */


#about-me {
    background-color: #E7E7E7;
    padding-bottom: 6rem;
}

.about-header {
    text-align: center;
}

.about-header h2 {
    letter-spacing: 2px;
    font-size: 2rem;
    padding-top: 8rem;
    margin-bottom: 1.5rem;
}


.underline {
    margin-bottom: 3.5rem;
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 2rem;
    background: #be6b74;
    left: 48.5%;
    /* transform: translateX(-50%); */
    border-radius: 5px;
}


.about-intro > p {
    color: #333333;
    margin: auto 20rem;
    text-align: center;
    line-height: 1.5;
}

.about-me-details {
    display: flex;
    margin: 4rem 8rem;
    justify-content: space-around;
}
.skills {
    width: 40%;
}

.about-me-details h3 {
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.languages  {
    display: flex;
    flex-wrap: wrap;
}

.languages p {
    background-color: rgba(119, 130, 148, 0.2);
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.profile {
    width: 60%;
    margin-right: 2rem;
}

.profile p {
    padding: 10px;
    line-height: 1.5;
}



.profile a {
    text-decoration: none;
    color: #fff;
    background-color: #be6b74;
    padding: 10px 30px;
    border-radius: 5px;
    margin-left:  10px;
    position: relative;
    top: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.profile a:hover {
    top: 1.9rem;
}


#projects {
    background-color: #fff;
    padding-bottom: 7rem;
}

.projects-header {
    text-align: center;
}

.projects-header h2 {
    letter-spacing: 2px;
    font-size: 2rem;
    padding-top: 8rem;
    margin-bottom: 1.5rem;
}

.projects-intro > p {
    color: #333333;
    margin: auto 20rem;
    text-align: center;
    line-height: 1.5;
}

.projects-details {
    display: flex;
    margin: 4rem 8rem;
    justify-content: space-around;
}
.skills {
    width: 40%;
}

.projects-details h3 {
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-description  {
    display: flex;
    flex-wrap: wrap;
}

.project-description p {
    padding: 10px;
    
}

.projects-img img {
    width: 38rem;
    height: auto;
}

.project-info {
    margin: 3rem auto;
}
.project-description a {
    text-decoration: none;
    color: #fff;
    background-color: #be6b74;
    padding: 20px 30px;
    border-radius: 5px;
    margin-left:  10px;
    position: relative;
    top: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.project-description a:hover {
    top: 1.9rem;
}

#contact {
    padding: 50px;
    background-color: #be6b74;
    
}

.contact-header {
    text-align: center;
}

.contact-header h2 {
    letter-spacing: 2px;
    font-size: 2rem;
    padding-top: 80px;
    margin-bottom: 1.5rem;
    color: #fff;
}

.contact-intro > p {
    color: #fff;
    margin: auto 20rem;
    text-align: center;
    line-height: 1.5;
    
}

.contact-underline {
    margin-bottom: 3.5rem;
    position: relative;
}

.contact-underline::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 2rem;
    background: #fff;
    left: 48.5%;
    border-radius: 5px;
}


form {
    margin: 6rem auto 10rem auto;
    width: 55vw;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px;
}
input {
    background-color: #F0F0F0;
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 45px; 
}

input:active {
    border: none;
}
label {
    letter-spacing: 0.6px;
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    padding-bottom: 10px;
}

textarea {
    width: 100%;
    background-color: #F0F0F0;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    resize: none;
}

#contact button {
    position: relative;
    left: 30.5rem;
    padding: 18px;
    width: 180px;
    margin-top: 30px;
    color: #fff;
    background-color: #be6b74;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1.2px;
}

#contact button:hover {
    top: -1px;
}

#footer {
    background-color: #000;
    color: #fff;
    padding: 40px;
    
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-summary h3,.footer-social-links h3 {
    margin-bottom: 15px;
}

.socials i {
    padding-right: 10px;
}

.socials a, .hero-side a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}


